@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

*{
    font-family: Geologica;
}
nav{
    background-color: #151E3F;
    display: flex;
    padding: 4em;
    
}

.logo{
    padding-left: 9em;
    height: 4em;
}

.hamburger{
    height: 2em;
    padding-top: 1em;
}

@media (max-width:800px) {
    .links{
        display: none;
    }
}

body {
    margin: 0;
}