@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

*{
    font-family: Geologica;
    margin: 0;
    
   
}

body{
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
}

html {
  scroll-behavior: smooth;
  
}

nav{
    background-color: #151E3F;
    display: block;
    position: relative;
    padding: 4em;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.25);
    
}

.logo{
    padding-left: 9em;
    height: 4em;
}


#hamburger{
    display: none;
}
.hamburger{
    display: inline-block;
    position: absolute;
    left: 3.5em;
    top: 5.5em;
    width: 1.5em;
    height: 2em;
    padding: 0;
    cursor: pointer;
    z-index: 1100;
    
}

.hamburger span {
    position: absolute;
    height: 3px;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.hamburger span:nth-child(1) {
    top: 6px;
}

.hamburger span:nth-child(2) {
    top: 12px;
}

#hamburger:checked ~ .slideout {
    transform: translateX(0);
}



.slideout {
    position: absolute;
    top: 0;
    left: 0;
    width: 15em;
    height: 16em;
    background-color: #151E3F;
    border-radius: 0.5em;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    z-index: 1050;
    padding-top: 7em ;
    display: flex;
    flex-direction: column;
    
    
   
}

.slideout a {
    color: white;
    text-decoration: none;
    padding: 1.5em 2em ;
    font-size: 1.2em;
    font-family: Geologica, sans-serif;
    padding-left: 3em;
}

.slideout a:hover{
    color: #FA9589;
    transition: all 0.2s ease-in-out;
    
}

#hamburger:checked ~ .hamburger span:nth-child(1) {
    opacity: 0;
}

#hamburger:checked ~ .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    top: 6px;
}

#hamburger:checked ~ .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 6px;
}

@media (max-width:800px) {
    .links{
        display: none;
    }
}



.section1{
    padding-left: 3em;
    padding-top: 4em;
    background-color: #151E3F;
    background-image: url(./images/background-header.png);
    background-size: cover;
    
}

.section1 h1{
    color: white;
    font-size: 3em;
    
}

.section1 p {
    width: 100%;
    max-width: 20em;
    color: whitesmoke;
    padding-top: 2em;
    font-size: 1.1em;
    padding-bottom: 3em;
}

.hero{
    max-width: 85%;
   padding-left: 0;
   height: auto;
   overflow: hidden;
   display: block;
   margin: 0 auto;
   margin-top: -16em;
   
}

.button{
    text-decoration: none;
    color: white;
    background-color: #FA9589;
    border-radius: 2em;
    padding-left: 1.6em;
    padding-right: 1.6em;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    transition: all 0.2s ease-in-out;
    position: relative;
    
    
}

.button:hover{
    opacity: 0.7;
    transform: scale(1.2);
    padding-left: 1.8em;
    padding-right: 1.8em;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
}

.section2{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding-top: 4em;
    background-color: #FA9589;
    color: white;
    padding-bottom: 5em;
    
    
}

.section2 h2{
    font-size: 2.5em;
}

.wandelaars{
    margin-top: -2em;
    align-items: center;
    overflow: hidden;
}

.section2 p{
    width: 100%;
    max-width: 27em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

    
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 6em;
    text-align: center;
    background-color: #151E3F;
    color: white;
    padding-bottom: 7em;
}

.section3 h2{
    font-size: 2.5em;
    padding-bottom: 1em;
}

.section3 p{
    width: 100%;
    max-width: 27em;
    font-size: 1.2em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 3em;
}

.mockup{
    padding-bottom: 5em;
    max-height: 100%;
    width: 20em;
}

.section4{
    text-align: center;
    background-color: #FA9589;
    margin-top: -2em;
    padding-top: 4em;
    padding-bottom: 7em;
}

.section4 h2{
    color: white;
    font-size: 2.5em;
    padding-bottom: 1em;
}

.button2 {
    text-decoration: none;
    color:white;
    padding: 1em;
    background-color: #151E3F;
    border-radius: 2em;
    padding-left: 2em;
    padding-right: 2em;
    transition: all 0.2s ease-in-out;
    position: relative;
    
}

.button2:hover{
    opacity: 0.7;
    transform: scale(1.2);
    padding-left: 2.2em;
    padding-right: 2.2em;
    padding-bottom: 1.2em;
    padding-top: 1em;

}

.section5 {
    text-align: center;
    background-color: #151E3F;
    color: white;
    margin-top: -2.2em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.section5-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.section5 h2{
    font-size: 2.5em;
    padding-bottom: 2em;
}

.waarden{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waarden h3{
    font-size: 1.7em;
}

.waarden p{
    width: 100%;
    max-width: 12em;
    margin: 0 auto;
    padding-bottom: 4em;
    font-size: 1.2em;
    padding-top: 1.5em;
}

.section6 {
    background-color: #151E3F;
    margin-top: -2.2em;
}

.contact{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contact h2{
    font-size: 2.5em;
    padding-bottom: 1em;
}



.contact input{
    border: solid white;
    background-color: transparent;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    outline: none;
    margin: 2em;
    width: 70%;
    color: white;
    caret-color: white;
    
}

.contact label{
    position: absolute;
    padding-left: 2em;
    
}

.bericht{
    padding-bottom: 2em;
}


.section6{
    padding-bottom: 10em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: 1em;
    color: white;
    background-color: #FA9589;
    border-radius: 3em;
    width: 100%;
    max-width: 25em;
    margin-top: 7em;
}

.info  div{
    display: flex;
    align-items: left;
    gap: 1em;
    padding: 1em;

}

.info h2{
    font-size: 2.5em;
    color: white;
    justify-content: flex-start;
    align-self: center;
    padding: 0.5em;
}

.info123{
    padding-left: 1em;
    padding-bottom: 1em;
}

footer div{
    display: flex;
    align-items: center;
    background-color: #151E3F;
    color: white;
    gap: 4em;
    padding: 1em;
    padding-left: 3em;
    
}

footer{
    box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.25);
}

footer a{
    text-decoration: none;
    color: white;
}

@media (min-width:801px) {
    .hamburger{
        display: none;
    }

    .section1 h1{
        font-size: 4em;
    }
    .section1 p{
        font-size: 1.4em;
        margin-bottom: 2.5em;
        max-width: 25em;
        
    }

    .hero{
        display: flex;
        margin-left: auto;
        margin-right: 10em;
        margin-top: -32em;
       
    }
    .button{
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 1.2em;
    padding-top: 1.2em;

    }

    .section2 div {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 3em;
    align-items: center;
    padding-bottom: 3em;
  }

  .section2 div img {
    grid-column: 1;
    height: 40em;
    margin-left: -14em;
  }

  .section2 div h2 {
    grid-column: 2;
    margin-top: 0;
    margin-bottom: -7em;
    font-size: 3em;
  }

  .section2 div p {
    grid-column: 2;
    margin-top: 8em;
    max-width: 30em;
  }

  .section4{
    padding-top: 5em;
    padding-bottom: 10em;
  }

  .section5-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10em;
    padding-top: 3em;
    padding-bottom: 7em;
  }
  
  .section5 h2{
    padding-top: 1em;
  }

  .contact input{
    width: 90%;
  }
  .contact h2{
    padding-left: 0.8em;
  }

  .section6{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }  

  .section6 h2{
    padding-right: 3em;
  }

  footer div{
    justify-content: center;
    gap: 10em;
  }

 
}