@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

*{
    font-family: Geologica;
}
nav{
    background-color: #151E3F;
    display: flex;
    padding: 4em;
    
}

.navlinks{
    padding-left: 40em;
    padding-top: 2em;
}
 
.links{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 3em;
    
    
}
.logo{
    padding-left: 9em;
    height: 4em;
}

.hamburger{
    height: 2em;
    padding-top: 1em;
}

@media (max-width:800px) {
    .links{
        display: none;
    }
}

body {
    margin: 0;
}

.section1{
    padding-left: 3em;
    padding-top: 4em;
    background-color: #151E3F;
    background-image: url(./images/background-header.png);
    background-size: 102em;
}

.section1 h1{
    color: white;
    font-size: 3em;
    
}

.section1 p {
    max-width: 20em;
    color: whitesmoke;
    padding-top: 2em;
    font-size: 1.1em;
    padding-bottom: 3em;
}

.hero{
   margin-top: -15em;
   padding-left: 7.2em;
   margin-bottom: -0.25em;
}

.button{
    text-decoration: none;
    color: white;
    background-color: #FA9589;
    border-radius: 2em;
    padding-left: 1.6em;
    padding-right: 1.6em;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    transition: all 0.2s ease-in-out;
    position: relative;
    
    
}

.button:hover{
    opacity: 0.7;
    transform: scale(1.2);
    padding-left: 1.8em;
    padding-right: 1.8em;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 4em;
    text-align: center;
    background-color: #FA9589;
    color: white;
    padding-bottom: 3em;
}

.section2 h2{
    font-size: 2.5em;
}

.wandelaars{
    margin-top: -2em;
    align-items: center;
}

.section2 p{
    max-width: 27em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 4em;
    text-align: center;
    background-color: #151E3F;
    color: white;
    padding-bottom: 7em;
}

.section3 h2{
    font-size: 2.5em;
}

.section3 p{
    max-width: 27em;
    font-size: 1.2em;
    padding-left: 3em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 3em;
}

.mockup{
    padding-bottom: 5em;
    height: 20em;
}

.section4{
    text-align: center;
    background-color: #FA9589;
    margin-top: -2em;
    padding-top: 4em;
    padding-bottom: 7em;
}

.section4 h2{
    color: white;
    font-size: 2.5em;
    padding-bottom: 1em;
}

.section4 a{
    text-decoration: none;
    color:white;
    padding: 1em;
    background-color: #151E3F;
    border-radius: 2em;
    padding-left: 2em;
    padding-right: 2em;
    
}

.section5 {
    text-align: center;
    background-color: #151E3F;
    color: white;
    margin-top: -2.2em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.section5 h2{
    font-size: 2.5em;
    padding-bottom: 1em;
}

.waarden{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waarden h3{
    font-size: 1.5em;
}

.waarden p{
    width: 12em;
    margin: 0 auto;
    padding-bottom: 4em;
}

.section6 {
    background-color: #151E3F;
    margin-top: -2.2em;
}

.contact{
    text-align: center;
    color: white;
}

.contact h2{
    font-size: 2.5em;
    padding-bottom: 1em;
}

.contact form div{
    position: relative;
}

.contact input{
    border: solid white;
    background-color: transparent;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    outline: none;
    margin: 2em;
    width: 25em;
    color: white;
    caret-color: white;
    
}

.contact label{
    position: absolute;
    padding-left: 2em;
    
}

.bericht{
    padding-bottom: 2em;
}


.section6{
    padding-bottom: 10em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: 1em;
    color: white;
    background-color: #FA9589;
    border-radius: 3em;
    width: 25em;
    margin-top: 7em;
}

.info  div{
    display: flex;
    align-items: left;
    gap: 1em;

}

.info h2{
    font-size: 2.5em;
    color: white;
    justify-content: flex-start;
    align-self: center;
}

.info123{
    padding-left: 1em;
    padding-bottom: 1em;
}

footer div{
    display: flex;
    align-items: center;
    background-color: #151E3F;
    color: white;
    gap: 4em;
    padding: 1em;
    padding-left: 6em;
    
}

footer a{
    text-decoration: none;
    color: white;
}

@media (min-width:801px) {
    .hamburger{
        display: none;
    }

    .section1{
        padding-left: 12em;

    }

    .section1 h1{
        font-size: 4em;
    }
    .section1 p{
        font-size: 1.4em;
        margin-bottom: 2.5em;
    }

    .hero{
        padding-left: 50em;
        margin-top: -32em;
        
    }
    .button{
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 1.2em;
    padding-top: 1.2em;

    }

    .section2{
        display: flex;
        flex-direction: row;
        
    }

    .wandelaars{
        height: 40em;
        padding-right: 40em;
        margin-left: -10em;
    }

    .section2 h2{
        padding-left: 10em ;
        font-size: 3.5em;
        padding-top: 2em;

    }

    .section2 p{
        padding-left: 80em;
    }
}